<!DOCTYPE html>
<html>

<body>
<h2>Statistics</h2>
<table>
	<col>
	<colgroup span="3"></colgroup>
	<thead>
		<tr>
			<th scope="col">Feature</th>
			<th scope="col">Value</th>
			<th scope="col">Count</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<th> Age </th>
			<th> Adult </th>
			<td>{{adult_squirrels}}</td>
		</tr>
		<tr>
                        <th> Age </th>
                        <th> Juvenile </th>
                        <td>{{juvenile_squirrels}}</td>
                </tr>
		<tr>
                        <th>Fur_Color </th>
                        <th> Gray </th>
                        <td>{{gray_squirrels}}</td>
                </tr>
		<tr>
                        <th> Fur_Color</th>
                        <th> Cinnamon</th>
                        <td>{{cinna_squirrels}}</td>
                </tr>
		<tr>
                        <th> Fur_Color</th>
                        <th> Black</th>
                        <td>{{black_squirrels}}</td>
                </tr>
		<tr>
                        <th> LOCATION</th>
                        <th> Ground_Plane</th>
                        <td>{{Ground_Plane}}</td>
                </tr>
		<tr>
                        <th> LOCATION</th>
			<th> Above_Ground</th>
                        <td>{{Above_Ground}}</td>
                </tr>
		<tr>
                        <th> Running</th>
                        <th> Running_True</th>
                        <td>{{Running_True}}</td>
                </tr>
		<tr>
                        <th> Running</th>
                        <th> Running_False</th>
                        <td>{{Running_False}}</td>
                </tr>
		<tr>
                        <th> Tail_Flags</th>
                        <th> Tail_flag_True</th>
                        <td>{{Tail_flag_True}}</td>
                </tr>
		<tr>
                        <th> Tail_Flags</th>
                        <th> Tail_flag_False</th>
                        <td>{{Tail_flag_False}}</td>
                </tr>
	        <tr>
		        <th> Moan</th>
                        <th> Moan_True</th>
                        <td>{{Moan_True}}</td>
                </tr>
		<tr>
                        <th> Moan</th>
                        <th> Moan_False</th>
                        <td>{{Moan_False}}</td>
                </tr>
	</tbody>
</table>
</body>
</html>

